@import '../../../../../assets/scss/variables.scss';

.contentWrap {
  background: $colorWhite;
  padding: 10px;
}

.topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  transition: all 0.3s;
  &:hover {
    color: $colorMain;
  }
}

@media screen and (max-width: 640px) {
  .topContent {
    flex-direction: column;
    align-items: start;
    margin-bottom: 14px;
  }
}

.Tabs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.Card {
  margin: 0;
  border-radius: 0;
  border: 1px solid #f0f0f0;
  height: 100%;
  display: flex;
  overflow: hidden;

  :global {
    .ant-card-cover {
      width: 40%;
      flex-shrink: 0;

      > * {
        border-radius: 0;
      }
    }

    .ant-card-body {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
    }
  }

  &:hover {
    z-index: 1;
  }
}

.imageWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 0;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.TimeRole {
  color: $subTextColor;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 30px;
}

.User {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.TextUser {
  margin-left: 8px;
}

.ButtonChat {
  width: 100px;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  margin-bottom: 10px;
}

.status {
  font-weight: 600;
  color: $colorRed;
}

.avtUser {
  height: 34px;
  width: 34px;
}

.userText {
  @media screen and (max-width: 923px) {
    .avtUser {
      width: 24px;
      height: 24px;
    }
    .TextUser {
      overflow: hidden;
      font-size: 13px;
    }
  }
}
