.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.error {
  color: #ff4d4f;
  text-align: center;
  padding: 20px;
}

.emptyListing {
  margin: 40px 0;
}

.subTabLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subTabCount {
  color: rgba(0, 0, 0, 0.45);
}

.descPost {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.tabsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.viewToggle {
  margin-left: auto; // Đẩy về bên phải
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  right: 0;
}