@import '../../../../../../../assets/scss/variables.scss';
.Icon {
  font-size: 20px;
  cursor: pointer;
  color: $textColor;
}
.Avartar {
  cursor: pointer;
  color: $textColor;
}
.IconColor {
  color: $textColor;
}
.IconDown {
  color: $textColor;
}
.Button {
  padding: 0 20px;
}
