@import '../../../../../../../assets/scss/variables.scss';
.Icon {
  font-size: 20px;
  cursor: pointer;
  color: $textColor;
}
.Avartar {
  cursor: pointer;
  color: $textColor;
}
.IconColor {
  color: $textColor;
}
.IconDown {
  color: $textColor;
}
.Button {
  padding: 0 20px;
}

.avt {
  border: 2px solid $colorWhite;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
