.search-bar {
  position: relative;
  width: 100%;

  .input-wrapper {
    position: relative;

    .input {
      padding-left: 2.5rem;
      width: 600px; // Chỉnh kích thước nhỏ hơn để cân đối hơn
      height: 36px; // Giảm chiều cao
      border: 1px solid #e5e7eb;
      border-radius: 4px;
      font-size: 14px;

      &:focus {
        outline: none;
        border-color: #d1d5db;
      }
    }

    .search-icon {
      position: absolute;
      left: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      height: 16px; // Thu nhỏ icon
      width: 16px; // Thu nhỏ icon
      color: #9ca3af;
    }
  }

  .suggestions {
    position: absolute;
    width: 100%;
    max-width: 600px; // Giới hạn chiều rộng bằng input
    background: #ffffff;
    border: 1px solid #e5e7eb;
    margin-top: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Giảm độ mờ của bóng
    z-index: 50;
    font-size: 13px; // Giảm font chữ

    .suggestion-item {
      cursor: pointer;
      display: block; // Căn chỉnh nội dung dòng đơn
      color: #333333;

      &:hover {
        background-color: #f3f4f6; // Màu nền khi hover nhạt hơn
      }

      .title {
        display: flex;
        gap: 4px;
      }
    }

    .no-results {
      padding: 8px 12px; // Giảm padding
      color: #6b7280;
      font-size: 13px; // Font chữ nhỏ hơn
      text-align: center; // Căn giữa nội dung
    }
  }
}
