.notificationCard {
  width: 300px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  :global {
    .ant-card-head {
      border-bottom: 1px solid #f0f0f0;
      padding: 0 16px;
    }

    .ant-card-body {
      padding: 0;
      max-height: 400px;
      overflow-y: auto;
    }
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.notificationList {
  .notificationItem {
    padding: 8px 12px; // Giảm padding để giảm khoảng cách giữa các thông báo
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }

    &.unread {
      background-color: #ffffff; // Màu nền cho thông báo chưa đọc

      &:hover {
        background-color: #f0f0f0;
      }
    }

    &.read {
      background-color: #f9f9f9; // Màu nền nhạt cho thông báo đã đọc
    }
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.loadingMore {
  text-align: center;
  padding: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyState {
  padding: 24px;
}

.notifiHref {
  width: 100%;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.itemTitle {
  display: block;
  word-break: break-word;
}

.notificationIcon {
  margin-right: 8px;
  font-size: 16px;
}

.notificationType {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 8px;

  &.request {
    background-color: #e6f7ff; // Màu xanh dương nhạt cho yêu cầu
    color: #1890ff;
  }

  &.receive {
    background-color: #f6ffed; // Màu xanh lá nhạt cho nhận
    color: #52c41a;
  }

  &.other {
    background-color: #fff7e6; // Màu cam nhạt cho loại khác
    color: #fa8c16;
  }
}