@import '../../../assets/scss/variables.scss';

.layoutClientWrap {
  font-family: 'Montserrat', sans-serif !important;
  background: $colorBg;
  :global {
    * {
      font-family: inherit;
    }
  }
}
