.listingTabs {
  min-width: '600px';
  width: 100%;
  .tabLabel {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;

    .tabCount {
      margin-left: 5px;
      color: gray;
    }
  }

  .subTabs {
    margin-top: 10px;

    .subTabLabel {
      font-size: 14px;

      .subTabCount {
        margin-left: 5px;
        color: gray;
      }
    }
  }

  // Responsive styles
  @media (max-width: 768px) {
    .tabLabel {
      font-size: 14px;

      .tabCount {
        font-size: 12px;
      }
    }

    .subTabs {
      .subTabLabel {
        font-size: 12px;

        .subTabCount {
          font-size: 10px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .tabLabel {
      font-size: 12px;

      .tabCount {
        font-size: 10px;
        margin-left: 3px;
      }
    }

    .subTabs {
      .subTabLabel {
        font-size: 10px;

        .subTabCount {
          font-size: 8px;
          margin-left: 2px;
        }
      }
    }
  }
}
