.categoryModal {
  .ant-modal-body {
    padding: 0;
  }

  .categoryTreeWrapper {
    max-height: 500px;
    overflow-y: auto;
  }

  .categoryTree {
    font-size: 16px;
    padding: 16px;

    .ant-tree-node-content-wrapper {
      padding: 8px 16px;
      display: flex;
      align-items: center;
    }

    .ant-tree-switcher {
      display: none;
    }

    :global {
      .ant-tree-treenode {
        width: 100%;
        border: 1px solid #ccc;
        margin-bottom: 8px;
        padding: 10px;
      }
    }
  }
}
