@import '../../../../../../assets/scss/variables.scss';

.createPostModal {
  .modalHeader {
    border-bottom: 1px solid #e8e8e8;
    padding: 12px 24px;

    :global(.ant-modal-title) {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
  }

  .postButton {
    border-radius: 0;
    height: 36px;
    font-weight: 600;
    width: 100%;
    &:disabled {
      background: #e4e6eb;
      color: #bcc0c4;
    }
  }
}
