@import '../../../../../assets/scss/variables.scss';

.listingManagement {
  .tabsContainer {
    background: $colorWhite;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    min-height: 600px;
    height: 100%;

    @media screen and (max-width: 420px) {
      padding: 10px;
      min-height: auto;
    }

    .tabsWrapper {
      .tabHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; /* Đảm bảo phần tử chiếm toàn bộ chiều rộng */
        margin-bottom: 16px;

        @media screen and (max-width: 420px) {
          flex-direction: column;
          align-items: stretch;
          gap: 10px;
        }

        .listingTabs {
          flex: 1;

          :global(.ant-tabs-nav) {
            margin-bottom: 0;

            @media screen and (max-width: 420px) {
              width: 100%;

              :global(.ant-tabs-nav-list) {
                width: 100%;
                justify-content: space-between;
              }

              :global(.ant-tabs-tab) {
                margin: 0;
                padding: 8px 4px;
                font-size: 14px;
              }
            }
          }
        }

        .actions {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-grow: 1; /* Đảm bảo phần tử giãn ra đủ */
          min-width: 180px; /* Đảm bảo có đủ chỗ để hiển thị nút */
          gap: 8px;

          @media screen and (max-width: 420px) {
            justify-content: space-between !important;
            width: 100%;
          }

          button {
            flex-shrink: 0; /* Ngăn các nút bị co lại quá mức */
          }

          .backButton {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $colorMain;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background-color: darken($colorMain, 10%);
              transform: scale(1.1);
            }

            &:focus {
              outline: none;
              box-shadow: 0 0 5px rgba(24, 144, 255, 0.5);
            }

            svg {
              width: 20px;
              height: 20px;
              color: white;
            }
          }
        }
      }
    }
  }
}
