@import '../../../../../assets/scss/variables.scss';

.listingManagement {
  .tabsContainer {
    background: $colorWhite;
    padding: 10px 20px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    min-height: 600px;
    height: 100%;

    .tabsWrapper {
      .tabHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .listingTabs {
          flex: 1;

          :global(.ant-tabs-nav) {
            margin-bottom: 0;
          }

          .tabLabel {
            @include flex-center;
            gap: 4px;

            .tabCount {
              color: $colorTextFooter;
              font-size: 12px;
            }
          }
        }

        .viewToggle {
          margin-left: 16px;

          button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
          }
        }
      }
    }
  }
}
