.categoryModal {
  .ant-modal-body {
    padding: 0;
  }

  .categoryTreeWrapper {
    max-height: 500px;
    overflow-y: auto;
  }

  .categoryTree {
    font-size: 16px;

    .ant-tree-node-content-wrapper {
      padding: 8px 16px;
      display: flex;
      align-items: center;
    }

    .ant-tree-switcher {
      display: none;
    }

    :global {
      .ant-tree-treenode {
        width: 100%;
        padding: 4px;
      }
    }
  }
}

.categoryModal {
  :global {
    .ant-tree-node-content-wrapper {
      width: 100%;
      padding: 10px;
    }

    .ant-tree-treenode {
      width: 100%;
      margin: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .ant-tree-node-selected {
      width: 100%;
    }
    .ant-tree-switcher {
      display: flex;
      align-items: center;
      &::before {
        display: none;
      }
    }
  }
}

.categoryTreeWrapper {
  max-height: 400px;
  overflow-y: auto;
}

.categoryTree {
  width: 100%;
}
