@import '../../../assets/scss/variables.scss';

.back-to-top-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  align-items: center;
  height: 32px;
  width: 32px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  opacity: 0.5;
  background: $colorMain;
  border-radius: 4px;
  transition:
    opacity 0.4s,
    color ease-in-out 0.2s,
    background ease-in-out 0.2s;
  display: none;

  &.visible {
    display: flex;
  }

  &:hover {
    opacity: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 0.5;
    }
  }
}
