@import '../../../../../../../assets/scss/variables.scss';

.user-info {
  display: flex;
  align-items: center;
  background-color: $colorWhite;
  padding: 10px 20px;
  margin-bottom: 10px;
  .user-avatar {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
  }

  .user-details {
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
