@import '../../../../../../../assets/scss/variables.scss';

.user-info {
  display: flex;
  align-items: center;
  background-color: $colorWhite;
  padding: 10px 20px;
  margin-bottom: 10px;
  .avt {
    flex-shrink: 0;
    width: 44px;
    height: 44px;
    border: 2px solid $colorWhite;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .user-details {
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
