/* ActiveListings.module.scss */

.subTabs {
  margin-bottom: 16px;
}

.subTabLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.subTabCount {
  margin-left: 4px;
}

.listingCardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.descPost {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
