@import '../../../../../assets/scss/variables.scss';

.ContentWrap {
  padding: 10px;
  margin-top: 10px;
  background: $textColor;
}
.recommendWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #e0e0e0;

  &Text {
    display: block;
    color: $textColor2;
    font-size: 14px;
  }
}


.titleContainer, .descriptionContainer {
  position: relative;
  margin-bottom: 8px;
}

.expandButton, .showLessButton {
  padding: 0 4px;
  margin-left: 4px;
  font-size: 14px;
  height: auto;
  display: inline-block;
}

.descriptionContainer {
  word-break: break-word;
  line-height: 1.5;
}